<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>{% block title %}Welcome{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<div class="content" style="padding-left: 10%; padding-right: 50%;">
    <div class="table-container">
        <table class="table is-hoverable">
            <thead>
            <th>Client</th>
            <th>Voyage</th>
            <th>L'a-t-il effectué ?</th>
            </thead>
            <tbody>
            {% for voy in date %}
                {{ voy.dateVoyage }}
            {% endfor %}
            STOP
            {% for doss in dossVoyage %}
                {{ doss.getReferenceVoyage().getDateVoyage() }}
                {{ doss.getReferenceVoyage().getVilleDepart() }}
                {{ doss.getReferenceVoyage().getVilleArrive() }}
                {{ doss.getReferenceVoyage().getIdView() }}
                <tr>
                    <td>
                    </td>
                    <td>
                        <strong>Date</strong><br>
                        <strong>Type</strong> <br>
                        <strong>Numéro</strong> <br>
                        <strong>Départ</strong> <br>
                        <strong>Arrivée</strong>
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
